<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gymme">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.GymMeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".app.ui.Registrations.PracticeRegistration.PracticeRegistrationActivity"></activity>
        <activity android:name=".app.ui.Registrations.LoginRegistration.LoginRegistrationActivity" />
        <activity android:name=".app.ui.Login.LoginActivity" />
        <activity android:name=".app.ui.StartExercises.StartExercisesActivity" />
        <activity android:name=".app.ui.MyWorksheet.WorksheetAdapter" />
        <activity android:name=".app.ui.MyWorksheet.MyWorksheetActivity" />
        <activity android:name=".app.ui.Registrations.UserRegistration.UserRegistrationActivity" />
        <activity android:name=".app.ui.SplashScreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>